/* set universal style  */
* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  background-color: tan;
}

header {
  position: fixed;
  background-color: darkgreen;
  color: wheat;
  border-bottom: 10px solid saddlebrown;
  width: 100%;
  top: 0;
}

nav {
  margin: 5px;
  padding: 5px;
  text-align: right;
}

nav ul {
  margin: 10px;
}

nav li {
  display: inline;
  text-decoration: none;
  margin: 5px;
}

nav a {
  color: wheat;
  font-weight: bold;
  text-decoration: none;
}

main {
  text-align: center;
  background-color: whitesmoke;
  margin-top: 60px;
}

h1 {
  padding: 20px;
  font-weight: bolder;
}

#main-img {
  height: 200px;
}

.contact-section {
  text-align: center;
  border-top: 2px solid saddlebrown;
  margin-top: 0px;
}
.form-section {
  text-align: center;
}

form {
  border: saddlebrown solid 5px;
  border-radius: 5px;
}

footer {
  position: relative;
  text-align: center;
}
