/* set universal style  */
* {
  margin: 0px;
  padding: 0px;
}

body {
  position: relative;
  font-family: "Nunito Sans", sans-serif;
  background-color: tan;
}

header,
footer {
  position: fixed;
  background-color: darkgreen;
  color: wheat;
  width: 100%;
}

header {
  border-bottom: 10px solid saddlebrown;
  top: 0;
}

footer {
  border-top: 10px solid saddlebrown;
  bottom: 0;
  text-align: center;
}

footer p {
  padding: 5px;
}

nav {
  margin: 5px;
  padding: 5px;
  text-align: right;
}

nav ul {
  margin: 10px;
  list-style-type: none;
}

nav li {
  display: inline;
  margin: 5px;
}

nav a {
  color: wheat;
  font-weight: bold;
  text-decoration: none;
}

/* changes the color when pointed at  */
nav a:hover {
  color: saddlebrown;
}

main {
  text-align: center;
  margin: 60px auto;
}

.main-content {
  background-color: whitesmoke;
  padding: 20px 10px;
}

h1 {
  padding: 20px;
  font-weight: bolder;
}

.main-img {
  height: 300px;
  margin-bottom: 20px;
}

.contact-section {
  border-top: 2px solid saddlebrown;
  margin-top: 0px;
}
form {
  display: inline-block;
  padding: 5px;
  border: saddlebrown solid 5px;
  border-radius: 5px;
}

form ul {
  list-style-type: none;
  text-align: right;
}

form li {
  margin: 3px;
}

/* restore initial values */
input {
  padding: 1px 6px;
}

form button {
  padding: 2px 6px;
  background-color: saddlebrown;
  color: wheat;
  margin: 3px auto;
}
